.container-atendimento{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
}

.work-area-atendimento{
    position: absolute;
    z-index: 11;
    width: 50vw;
    height: 95vh;
    margin-left: 25vw;
    margin-top: 2.5vh;
    background-color: white;
    display: block;
    overflow-y: scroll;
}

.row-line{
    width: 100%;
    height: 50px;
    display: flex;
}


/*INPUT CSS*/
.input-container-atendimento{
    position: relative;
    width: 45%;
    height: 40px;
    margin-left: 2.5%;
    margin-bottom: 15px;
    background-color: black;
    margin-top: 15px;
  }
  
  .input-form-atendimento{
      border: 0;
      border-bottom: 2px solid #07889B;
      outline: none;
      color: black;
      background-color: #ffffff ;
      transition: .2s ease-in-out;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      font-size: 12pt;
  }
  
  .label-form-atendimento{
      top: 25px;
      left: 0;
      right: 0;
      color: #07889B;
      display: flex;
      align-items: center;
      position: absolute;
      cursor: text;
      transition: .2s ease-in-out;
      box-sizing: border-box;
      width: 120px;
      height: 1px;
      font-size: 12pt;
  }
  
  .input-form-atendimento:valid,
  .input-form-atendimento:focus {
    border-bottom: 2px solid #07889B; 
    color: #000000;
  }
  
  .input-form-atendimento:valid + .label-form-atendimento,
  .input-form-atendimento:focus + .label-form-atendimento{
    color: #07889B;
    font-size: 8pt;
    top: 3px;
    pointer-events: none;
  }
/*INPUT CSS*/

.bnt-source-cliente{
    height: 40px;
    width: 40%;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 12pt;
    font-weight: 500;
    outline: none;
    background-color: #07889B;
    color: #ffffff;
}

.bnt-source-cliente:hover{
    background-color: #035460;
    transition: 0.1s opacity;
}

.chat-area{
    position: relative;
    margin-top: 15px;
    display: block;
    width: 95%;
    margin-left: 2.5%;
    height: 250px;
    background-color: #dddddd;
    overflow-y: scroll;
    padding-bottom: 10px;
}

/*MESSAGE INPUT*/



.input-message-area{
    height: 150px;
    width: 95%;
    margin-left: 2.5%;
    background-color: black;
    margin-bottom: 15px;
    display: flex;
}

textarea{
    width:80%;
    background-color: #ffffff;
    font-size: 12pt;
    border: 2px solid #07889B;
    height: 150px;
    outline: none;
}

.message-input-btn{
    width: 20%;
    height: 100%;
    outline: none;
    background-color: #07889B;
    color: #ffffff;
    font-size: 12pt;
    
}

.message-input-btn:hover{
    background-color: #035460;
    transition: 0.2s;
}

/*MESSAGE INPUT*/

/*SHARCH*/

.search-clientes-container{
    position: fixed;
    top: 0;
    display: block;
    left: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    
}

.search-cliente-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 16;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

.search-cliente-front{
    position: fixed;
    width: 80%;
    z-index: 17;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
    overflow-y: scroll;
    background-color: #ffffff;
    height: 80%;
}

.search-clientes-area-search{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
}

.search-clientes-area{  
    padding-top: 70px;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    overflow-y: scroll;
    overflow-x: auto;
}

.search-user-btn{
    width: 25%;
    height: 40px;
    background-color: #07889B;
    margin-left: 2.5%;
    margin-right: 2.5%;
    outline: none;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 500;
}
.search-user-btn:hover{
    background-color: #035460;
    transition: 0.2s;
}

.search-clientes-confirm-area{
    position: fixed;
    z-index: 19;    
    height: 70px;
    width: 80%;
    bottom: 10%;
    left: 10%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    justify-items: flex-end;
}

.table-container{
    width: 100%;
    border-collapse: collapse;
}

.table-tbody-one{
    height: 40px;
    font-size: 12pt;
    font-weight: 500;
    padding: 0px;
    background-color: #dddddd;
    opacity: 0.6;
    cursor: pointer;
}
.table-tbody-one:hover{
    opacity: 1;
}

.table-tbody-two:hover{
    opacity: 1;
}

.table-tbody-two{
    height: 40px;
    font-size: 12pt;
    font-weight: 500;
    padding: 0px;
    background-color: #eeeeee;
    opacity: 0.6;
    cursor: pointer;
}
.table-td-one{
    padding-left: 10px;
    padding-right: 20px ;
    background-color: #dddddd;
}

.table-td-two{
    padding-left: 10px;
    padding-right: 20px ;
    background-color: #eeeeee;
}

.table-td + .table-td{
    text-align: end;
}

.serach-clientes-button{
    width: 120px;
    height: 60px;
    background-color: #07889B;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 500;
    margin-right: 10px;
    outline: none;
    border-radius: 10px;
}
.serach-clientes-button:hover{
    background-color: #035460;
    transition: 0.2s;
}
.serach-clientes-button-disable{
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 500;
    margin-right: 10px;
    outline: none;
    border-radius: 10px;
}

/*SHARCH*/


/*MESSAGE CSS*/
.message-row{
    float: left;
    width: 100%;
}
.message-container-0{
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-left: 10px;
   max-width: 80%;
   height: height;
   float: left;
   background-color: #ffffff;
   border-radius: 20px;
}
.message-container-1{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 80%;
    background-color: #ffffff;
    float: right;
    border-radius: 20px;

}

.message-content{
    font-size: 12pt;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
}

.message-information{
    float: right;
    color: #000000;
    font-size: 10pt;
    margin-left: 5px;
    margin-right: 5px;

}
/*MESSAGE CSS*/


/*OPTIONS MESSAGE INPUT*/


.p-tipo-message{
    width: 30%;
    margin-left: 2.5%; 
    background-color: none;
    height: 20px;
    margin-top: 15px;
    color: #000000;
    border-bottom:  2px solid #07889B;;
}

.message-select{
    margin-top: 15px;
    font-size: 12pt;
    width: 30%;
    margin-left: 2.5%;
    height: 20px;
    outline: none;
    border-bottom: 2px solid #07889B;
    -webkit-appearance: none;  
    -moz-appearance: none;
}

.btn-options-atendimento-area{
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.btn-options-atendimento-save{
    width: 120px;
    height: 100%;
    background-color: #07889B;
    color: #ffffff;
    margin-right: 2.5%;
    outline: none;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: 500;
}
.btn-options-atendimento-save:hover{
    background-color: #035460;
    transition: 0.2s;
}



/*OPTIONS MESSAGE INPUT*/

